body {
	font-family: 'Roboto Mono', monospace;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size:32px;
}

h3 {
	font-size: 18px;
}


.header {
	text-align: center;
	margin-top: 25%;
	margin-bottom:10%;
}


.nav {
	text-align: center;
	color: #F28133;
	margin-top: 10%;
	word-spacing: 30px;
}

ul {
		word-spacing: 30px;
}

ul li {
	display: inline;
	margin-top:10%;
	word-spacing: 30px;
	font-size: 18px;
}

a {
	color: #F28133;
}

a:hover {
	color:#f7b68a;
}

.ac {
	font-weight: bold;
}
.home {
	color:black; 
}
.listen {
	text-align: center;
	color: #F28133;
}

.read {
	margin-left:20%;
	margin-right: 20%;
}

}
.column {
  float: left;
  width: 54%;
}

.vid {
	margin-left: 30%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}